/* Áreas */

/*
	Democracia e Participação = #A22521;
	Reforma Urbana = #516D33;
	Cidadania Cultural = #B7913E;
	Inclusão e Sustentabilidade = #95AD5F;
*/

.site-main .header-area {
	padding: 20px;
	display: inline-block;
	padding-right: 0;
}

.site-main .header-area .right ul {
	list-style: none;
	text-align: right;
}

.site-main .header-area .right ul li a, .site-main .header-area .right ul li:first-child {
	padding: 20px;
	display: inline-block;
}

.site-main.democracia-e-participacao h1, .site-main.democracia-e-participacao h2 {
	color: #A22521;
}
.site-main.reforma-urbana h1, .site-main.reforma-urbana h2 {
	color: #526c32;
}
.site-main.cidadania-cultural h1, .site-main.cidadania-cultural h2 {
	color: #b7923d;
}
.site-main.inclusao-e-sustentabilidade h1, .site-main.inclusao-e-sustentabilidade h2 {
    color: #95AD5F;
}

.site-main .aba-area {
	background-color: #EDEDED;
}

.cada-publicacao-area {
	width: 20%;
	float: left;
}

.cada-acao-area {
    background: none repeat scroll 0 0 #809958;
    float: left;
    margin: 10px;
    width: 23%;
}

.cada-loop-aba header, .biblioteca header {
	width: 100%;
	clear: both;
	padding: 30px 0 20px;
	overflow: hidden;
}

.cada-loop-aba header h2, .biblioteca header h2 {
	display: inline-block;
	clear: both;
	float: left;
}

.cada-loop-aba .todos, .biblioteca .todos {
	float: left;
	margin-left: 10px;
	background: url("img/bg-todos.jpg") no-repeat;
	font-size: 0.7em;
	padding: 6px 16px 5px 10px;
	color: #FFF;
	text-transform: uppercase;
}

.btn-todas-publicacoes {
    background-color: #BEBEBE;
    border-radius: 5px;
    display: block;
    margin: 20px auto;
    padding: 5px 20px;
    text-align: center;
    text-transform: uppercase;
    width: 35%;
    font-size: 0.7em;
    color: #FFF;
    overflow: hidden;
}

.btn-todas-publicacoes:hover {
	background-color: #CACACA;
	color: #333;
}
